<ng-container *ngIf="isLoading; else showContent">
  <div class="post-create" fxLayout="row-reverse" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-spinner color="warn" [diameter]="30"></mat-spinner>
  </div>
</ng-container>
<ng-template #showContent>
  <mat-card class="post-create">
    <!-- <p>create-post works!</p> -->

    <form [formGroup]="blogForm" class="blog-form">
      <mat-form-field appearance="outline" style="width:100%">
        <mat-label>Title</mat-label>
        <input matInput #title maxlength="200" formControlName="title" placeholder="Title">
        <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
        <mat-hint align="end">{{ title.value.length}} / 200</mat-hint>
      </mat-form-field>

      <div class="">

      </div>

      <mat-form-field appearance="none" style="width:100%">
        <textarea matInput (froalaInit)="initializeFroala($event)" [froalaEditor]="options" formControlName="content" cdkTextareaAutosize cdkAutosizeMinRows="3" class="font-sm fr-view-text">
        </textarea>
        <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint> -->
      </mat-form-field>

      <button mat-raised-button color="warn" style="float:right" (click)="submit()">Post</button>
    </form>

  </mat-card>
</ng-template>
