.separator-icon {
  font-size: 60px;
  height: 60px;
  color: #707070;
  text-align: center;
  width: auto;
  display: block;
}

.comment-header {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
}

.link {
  font-weight: 500;
  color: brown;
  font-size: 14px;
}
