<section class="app-comment-section">
  <ng-container *ngIf="user_checked || is_authenticated && commentable">
    <section id="createsection" class="comment-create" style="margin-bottom:16px;">
      <app-comment-create
        [user]="user"
        [uuid]="uuid"
        [mentioned_users]="mentioned_users"
        (comment_response)="created($event)"
        (remove_mention)="removeMention($event)"
        (clear_comment)="clearComment($event)"
        [nested]="nested && current_nest_depth < max_nest_depth"
        style="height:170px"
        [parent]="parent"
        [child_group]="child_group">

        <div *ngIf="!is_authenticated" commentPlaceholder>
          <p class="comment-header font-xs">Please &nbsp;
            <a class="link" (click)="goToLogin()">Login </a>&nbsp; or &nbsp;<a class="link" (click)="goToLogin()">Sign up </a>&nbsp;
            to add comments
          </p>
        </div>
      </app-comment-create>
    </section>

    <section class="comment-list" style="height:100%" *ngIf="comments">
      <app-comment-list
        [comments]="comments"
        [user]="user"
        [uuid]="uuid"
        (mentioned)="userMentioned($event)"
        [max_nest_depth]="max_nest_depth"
        [current_nest_depth]="current_nest_depth">
      </app-comment-list>
    </section>
  </ng-container>
  <ng-container *ngIf="!create_only">
    <ng-container *ngIf="showLoader; else nextButton">
      <div fxLayoutAlign="center center" style="height:200px">
        <mat-spinner color="warn" [diameter]="20"></mat-spinner>
      </div>
    </ng-container>
    <ng-template #nextButton>
      <div *ngIf="next" fxLayoutAlign="center center" style="margin-top:30px; padding-bottom:30px;">
        <button mat-flat-button (click)="loadMoreComments()">Load more comments</button>
      </div>
      <div class="" *ngIf="!next && comments_count > 0 && !child_group" fxLayoutAlign="center center">
      </div>
    </ng-template>
  </ng-container>
</section>
