.post-card {
  margin: 16px 0;
  box-shadow: none;
  border: 1px solid #dedede;
  border-radius: 8px;
  display: flex;
  padding: 20px;
  flex-direction: column;
}


.post-content {
  padding-bottom: 20px
}

.separator-icon {
  font-size: 60px;
  height: 60px;
  color: #707070;
  text-align: center;
  width: auto;
}
