<ng-container *ngIf="downvotes.length; else elseTemplate">
  <ng-container *ngFor="let item of downvotes;">
    <ng-container *ngIf="item.post; else commentTemplate">
      <app-post [post]="item.post" [showFooter]="false"></app-post>
    </ng-container>

    <ng-template #commentTemplate>
      <div class="comment-item">
        <span class="comment-subtext">{{ item.created_at | timeSince }} ago</span>
        {{ item.post_comment.comment }}
      </div>
    </ng-template>
  </ng-container>
</ng-container>

<ng-template #elseTemplate>
  <h3 class="font-bold color-tertiary" align="center">No content to show</h3>
</ng-template>
