.create-group-section {
  margin: 8px 0;
  border: 1px solid #dedede;
  border-radius: 8px;
  display: flex;
  background: white;
  padding: 16px;
  width: auto;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.sub-text {
  font-size: 12px;
  color: #707070;
}
