<div *ngIf="comment && !comment.is_removed">
  <div fxLayout="row" style="width:100%; margin:16px 0; padding: 16px 0" *ngIf="comment && !edit_mode">
    <div fxLayout="column" fxFlex="56px" class="col-user">
      <img class="user-avatar" src="../../../assets/images/default_user.png" alt="">
    </div>
    <div fxLayout="column" fxFlex="90">
      <div fxLayout="row" class="margin-0">
        <div fxLayout="column" fxFlex="50">
          <span class="font-bold color-primary">
            {{ comment.user.username }}
          </span>
          <!-- <span class="font-bold color-primary">
            {{ comment.user.first_name ? comment.user.first_name : 'Jane' }}
            {{ comment.user.last_name ? comment.user.last_name : 'Doe' }}
          </span> -->
        </div>
          <div fxLayout="column" fxLayoutAlign="center end" fxFlex="50">
            <div fxLayout="row" fxFlex class="width-100">
              <div fxLayout="column" fxFlex="100" fxLayoutAlign="center end">
                <p class="grey-700 font-xxs margin-0" style="margin: 5px 0">
                  <i> <span *ngIf="comment.edited"> (edited) </span>
                    {{ comment.updated_at | timeSince }} ago</i>
                </p>
              </div>
              <div fxLayout="column" fxLayoutAlign="center end" fxFlex="20" *ngIf="can_edit">
                <button mat-icon-button [matMenuTriggerFor]="menu" style="height:30px; width:30px">
                  <mat-icon style="vertical-align:baseline">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item *ngIf="can_edit" (click)="editComment()">
                    <span>Edit</span>
                  </button>
                  <button mat-menu-item *ngIf="can_edit" (click)="removeComment(comment)">
                    <span>Delete</span>
                  </button>
                  <!-- <button mat-menu-item (click)="report(comment.author)">
                    <span>Report</span>
                  </button> -->
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row">
          <p class="comment-text"
            style="line-height:21px; white-space: pre-line; margin:0; margin-bottom: 12px;">
            <span *ngFor="let user of comment.mentioned_users" style="padding-right:4px; color:#f15a24">{{ user.first_name ? user.first_name : 'Jane'}} {{ user.last_name ? user.last_name : 'Doe' }}</span>
            <span *ngIf="comment.comment">{{ comment.comment }}</span>
            <!-- <span *ngIf="comment.comment.length <= 100">{{ comment.comment }}</span>
            <span *ngIf="comment.comment.length > 100 && expanded">{{ comment.comment }}
              <span style="cursor: pointer; font-weight: 700;" (click)="toggle()">Show less</span></span>
            <span *ngIf="comment.comment.length > 100 && !expanded">{{ comment.comment | truncate: 100 }}
              <span style="cursor: pointer; font-weight: 700;" (click)="toggle()">Read more</span></span> -->
          </p>
        </div>
        <div fxLayout="row" class="margin-0">
          <app-comment-footer
            [comment]="comment"
            [user]="user"
            [uuid]="uuid"
            [nested]="nested"
            (mention)="userMentioned($event)"
            (nestedReply)="nestedReplyEvent($event)">
          </app-comment-footer>
        </div>
    </div>
  </div>

  <div fxLayout="row" style="width:100%; margin:16px 0; padding: 16px 0" *ngIf="edit_mode">
    <app-comment-edit
      style="width:100%"
      [user]="user"
      [uuid]="uuid"
      [new]="false"
      [comment_obj]="comment"
      [source]="source"
      (comment_response)="commentEditted($event)"
      [nested]="nested">
    </app-comment-edit>
  </div>
</div>

<div *ngIf="comment.is_removed" style="width:100%; margin:16px 0; padding: 16px 0">
  <div fxLayout="column" fxFlex="8.65" class="col-user">
    <img src="../../../assets/images/default_user.png" alt="">
  </div>
  <div fxLayout="column" fxFlex="90">
    <div class="font-xs" fxLayout="row" fxLayoutAlign="center center" style="height: 40px; background: #f4f4f4; border-radius: 12px;">
      <i>{{comment.comment}}</i>
    </div>
  </div>
</div>

<div style="border-left: 1px solid #d5d5d5; margin-left: 20px; padding-left: 22px" *ngIf="nested && nested_reply_event">
  <app-comment-group
    [uuid]="uuid"
    [user]="user"
    [nested]="nested"
    [max_nest_depth]="max_nest_depth"
    [current_nest_depth]="current_nest_depth + 1"
    [parent]="comment.id"
    [child_group]="true">
  </app-comment-group>
</div>
