.login-container {
  background-image: url('https://images.pexels.com/photos/6765584/pexels-photo-6765584.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1280&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-container {
  max-width: 500px;
  width: 100%;
  background-color: white;
  padding: 32px;
  border-radius: 20px;
  border: 1px solid white;
}

.bg-2 {
  background: transparent;
  width: 100%;
  height: 100%;
}

.auth-form {
  font-size: 14px;
  max-width: 400px;
  height: auto;
  border: 1px solid #e6e6e6;
  padding: 32px;
}

.block-button {
  padding: 6px;
  width: 100%;
  align-self: center;
  text-align: center;
  font-size: 16px;
}
