<div class="auth-container">
  <div class="login-form">
    <h2 class="text-white" align="center">Sign up for Django-Reddit </h2>

    <form class="width-100" [formGroup]="registerForm" class="auth-form" autocomplete="off">
      <div class="input-column" style="display: flex; gap: 16px">
        <div class="width-100 margin-bottom-4">
          <label for="firstname">First name</label>
          <input matInput id="firstname" placeholder="John" formControlName="first_name" type="text" class="form-input">
        </div>

        <div class="width-100 margin-bottom-4">
          <label for="lastname">Last name</label>
          <input matInput id="lastname" placeholder="Doe" formControlName="last_name" type="text" class="form-input">
        </div>
      </div>

      <div class="width-100 margin-bottom-4">
        <label for="email">Email</label>
        <input matInput id="email" placeholder="jane@email.com" formControlName="email" type="email" class="form-input">
      </div>

      <div class="input-column margin-bottom-4" style="display: flex; gap: 16px; position: relative">
        <div class="width-100">
          <label for="password1">Password</label>
          <input matInput id="password1" placeholder="dankworld12" formControlName="password1" [type]="hidePassword ? 'password' : 'text'" class="form-input">
          <button mat-icon-button matSuffix class="toggle-visibility-btn" (click)="toggleVisibility()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>

        <div class="width-100">
          <label for="password2">Confirm password</label>
          <input matInput id="password2" placeholder="dankworld12" formControlName="password2" [type]="hidePassword ? 'password' : 'text'" class="form-input">
          <button mat-icon-button matSuffix class="toggle-visibility-btn" (click)="toggleVisibility()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>
      </div>

      <button mat-button color="primary" class="width-100 custom-button block-button"
        [disabled]="!registerForm.valid || isLoading" (click)="onSubmit()" >Submit</button>

      <p>Already have an account? <a class="underline button-link" [routerLink]="['../sign-in']">Sign In</a></p>

    </form>
  </div>
</div>
