<div fxLayout="row" fxLayoutGap="16px">
  <div class="profile-container" fxLayout="column" fxFlex="70" fxFlex.lt-lg="100">
    <div class="width-100">
      <mat-tab-group class="width-100" color="warn" dynamicHeight animationDuration="0ms" mat-align-tabs="center">
        <mat-tab label="Posts">
          <div class="content">
            <app-profile-posts [user]="user" [self]="self" [currentUser]="currentUser"></app-profile-posts>
          </div>
        </mat-tab>

        <mat-tab label="Comments">
          <div class="content">
            <app-profile-comments [comments]="userComments" [user]="user" [self]="self" [currentUser]="currentUser"></app-profile-comments>
          </div>
        </mat-tab>

        <mat-tab label="Upvotes">
          <div class="content">
            <app-profile-upvotes [user]="user" [self]="self" [currentUser]="currentUser"></app-profile-upvotes>
          </div>
        </mat-tab>

        <mat-tab label="Downvotes">
          <div class="content">
            <app-profile-downvotes [user]="user" [self]="self" [currentUser]="currentUser"></app-profile-downvotes>
          </div>
        </mat-tab>

        <mat-tab label="Saved">
          <div class="content">
            <app-profile-bookmarks [user]="user" [self]="self" [currentUser]="currentUser"></app-profile-bookmarks>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <div class="" fxLayout="column" fxFlex="30" fxHide.lt-lg>
    <div class="related-section">
      <div class="bg-blue"></div>
      <div class="user-avatar">
        <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" height="100" width="100">
      </div>

      <div class="user-content" fxLayout="column">
        <span class="font-bold">{{ profile.first_name }} {{ profile.last_name }}</span>
        <span class="color-tertiary">@{{ profile.username }}</span>
        <span class="font-light color-tertiary user-meta-text">User since {{ profile.date_joined | date }}</span>
      </div>

      <div class="margin-y-4" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
        <button mat-stroked-button color="primary" *ngIf="!self">Follow</button>
        <button mat-stroked-button color="primary" *ngIf="!self">Message</button>
        <button mat-stroked-button color="primary" *ngIf="!self">Report User</button>
      </div>
    </div>

    <div class="related-section" *ngIf="userGroups.length">
      <span class="heading-5 font-bold">
        <ng-container *ngIf="self; else elseTemplate">
          Your groups
        </ng-container>
        <ng-template #elseTemplate>
          {{ user.username}}'s groups
        </ng-template>
      </span>

        <mat-nav-list>
          <mat-list-item *ngFor="let group of userGroups">
             <a matLine [routerLink]="[ '../../group', group.id ]">{{ group.name }}</a>
          </mat-list-item>
        </mat-nav-list>
    </div>

    <div class="related-section" *ngIf="modGroups.length">
      <span class="heading-5 font-bold">
        <ng-container *ngIf="self; else elseTemplate">
          You're a moderator of these groups
        </ng-container>
        <ng-template #elseTemplate>
          {{ user.username}}'s moderator of these groups
        </ng-template>
      </span>

        <mat-nav-list>
          <mat-list-item *ngFor="let member of modGroups">
             <a matLine [routerLink]="[ '../../group', member.group.id ]">{{ member.group.name }}</a>
          </mat-list-item>
        </mat-nav-list>
    </div>
  </div>
</div>
