<div>
  <ng-container *ngIf="data; else noData">
    <div fxLayout="row" *ngIf="data.title" fxLayoutAlign="space-between center">
      <p class="font-sm font-bold margin-0" [innerHtml]="data.title"></p>
      <mat-icon (click)="closeDialog(false)" style="cursor: pointer;">close</mat-icon>
    </div>

    <section fxLayout="column" fxLayoutGap="20px">
      <div mat-dialog-content style="line-height:24px;">
        <h3>
          {{ data.message }}
        </h3>
      </div>

      <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center" [ngClass]="{'end-container': !showCancel }" fxLayoutGap="12px">
        <button mat-stroked-button color="warn" *ngIf="showCancel" (click)="closeDialog(false)">Cancel</button>
        <button mat-flat-button color="warn" (click)="closeDialog(true)">Confirm</button>
      </div>
    </section>
  </ng-container>

  <ng-template #noData>
  </ng-template>
</div>
