<mat-card class="post-card">
  <ng-container *ngIf="detail; else listTemplate">
    Loading...
  </ng-container>

  <ng-template #listTemplate>
    <div class="card-content">
      <div class="card-meta">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="user-avatar pulse"></div>
          <span class="group-text pulse"></span>
        </div>
      </div>

      <mat-card-title>
        <span class="post-title pulse"></span>
        <span class="post-title pulse"></span>
      </mat-card-title>

      <mat-card-content>
        <span class="post-content pulse"></span>
        <span class="post-content pulse"></span>
        <span class="post-content pulse"></span>
      </mat-card-content>

      <div class="card-actions" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
        <div class="mat-icon pulse"></div>
        <div class="mat-icon pulse"></div>
        <div class="mat-icon pulse"></div>
        <div class="mat-icon pulse"></div>
      </div>
    </div>
  </ng-template>
</mat-card>
