.group-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.group-item {
  // max-width: 700px;
  // width: 100%;
  max-width: 300px;
  width: 100%;
  min-height: 100px;
  box-shadow: none;
  border: 1px solid #dedede;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // margin: 16px 0;
  .subtext {
    font-size: 0.75rem;
    color: #707070;
  }
}
