<ng-container *ngIf="isLoading; else showContent">
  <div class="post-create" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <mat-spinner color="warn" [diameter]="30"></mat-spinner>
  </div>
</ng-container>

<ng-template #showContent>
  <mat-card class="post-create">
    <ng-container *ngIf="group">
      <div fxLayoutAlign="start center" fxLayoutGap="16px" class="margin-bottom-2">
        <img class="community-icon" src="https://cdn-icons-png.flaticon.com/512/2170/2170765.png" alt="Community">
        <span class="create-post-subtext">Posting under <b>g/{{ group?.name }}</b> as <b>u/{{ user?.username }}</b></span>
      </div>
    </ng-container>


    <form [formGroup]="postForm" class="blog-form" fxLayout="column" autocomplete="off">
      <mat-form-field appearance="outline" class="width-100">
        <mat-label>Title</mat-label>
        <input matInput #title maxlength="200" formControlName="title" placeholder="Title">
        <mat-hint align="end">{{ title.value.length}} / 200</mat-hint>
      </mat-form-field>

      <div class=""></div>

      <mat-form-field appearance="none" class="width-100">
        <textarea matInput (froalaInit)="initializeFroala($event)" [froalaEditor]="options" formControlName="content"
          cdkTextareaAutosize cdkAutosizeMinRows="3" class="font-sm fr-view-text" style="font-family: Roboto">
        </textarea>
      </mat-form-field>

      <!-- <input type="file"  formControlName="cover" (change)="onFileSelected($event.target.files)" #fileUpload> -->

      <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px">
        <button mat-raised-button (click)="submit()" disabled>Save draft</button>
        <button mat-raised-button color="warn" (click)="submit()">Post</button>
      </div>
    </form>
  </mat-card>
</ng-template>
