<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="width-100">
    <button mat-icon-button class="border" [ngClass]="{'button-active': user_vote == 1}" (click)="upvoteClicked()" [disabled]="!user">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </button>

    <p class="comment-votes">{{ comment.votes }}</p>

    <button mat-icon-button class="border" [ngClass]="{'button-active': user_vote == -1}" (click)="downvoteClicked()" [disabled]="!user">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>

    <div class="">
      <a *ngIf="!user" class="reply-btn">Reply</a>

      <a *ngIf="nested" (click)="nestedReplyEvent()" class="reply-btn" [ngPlural]="comment.child_count">
        <ng-template ngPluralCase="=0">Reply</ng-template>
        <ng-template ngPluralCase="=1">Reply [1]</ng-template>
        <ng-template ngPluralCase="other">Replies [{{comment.child_count}}]</ng-template>
      </a>
    </div>
</div>
