<div fxLayout="row" class="width-100" *ngIf="user" style="margin-bottom:50px; gap: 12px;">
  <div fxLayout="column" fxFlex="50px" class="col-user">
    <img class="user-avatar" src="../../../assets/images/default_user.png" alt="">
  </div>

  <div fxLayout="column" fxFlex="90" style="margin: auto">
    <form [formGroup]="commentForm" class="width-100">
      <div class="comment-wrapper">
        <!-- <mat-chip-list *ngIf="mentioned_users && mentioned_users.size > 0">
          <mat-chip *ngFor="let user of mentioned_users" [removable]="new" (removed)="removeMention(user)">
            @{{ user.username }} &nbsp;
            <mat-icon matChipRemove *ngIf="new">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <mat-divider style="position:relative;width:100%; margin-top:4px; border-top-style: dashed;" *ngIf="mentioned_users && mentioned_users.size > 0">
        </mat-divider> -->

        <div class="width-100 comment-input-field">
          <textarea matInput class="font-sm sparro-grey-800" formControlName="comment" maxlength="2000"
            placeholder="Comment" cdkTextareaAutosize
            cdkAutosizeMaxRows="3" cdkAutosizeMinRows="3" class="comment-textbox">
          </textarea>
        </div>
      </div>

      <div fxLayout="row" style="justify-content:flex-end" fxLayoutGap="16px">
        <button mat-flat-button *ngIf="commentForm.valid" (click)="cancel()">Cancel</button>
        <button mat-flat-button [disabled]="!commentForm.valid" (click)="submit()">{{ new ? 'Comment': 'Save' }}</button>
      </div>
    </form>
  </div>
</div>
