<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
  <div class="user-avatar" fxFlex="60px">
    <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" height="60" width="60">
  </div>
  <textarea matInput placeholder="Create post" (click)="redirect()" class="create-post-input" rows="2" cols="80"></textarea>
</div>

<ng-container *ngIf="isLoading; else showPosts">
  <app-post-loader></app-post-loader>
  <app-post-loader></app-post-loader>
  <app-post-loader></app-post-loader>
  <app-post-loader></app-post-loader>
</ng-container>

<ng-template #showPosts>
  <ng-container *ngFor="let post of groupPosts">
    <app-post [post]="post" [user_id]="user?.id"></app-post>
  </ng-container>
</ng-template>
