  <div fxLayout="row" *ngIf="avatar_mode && user">
    <!-- <img src="../../../assets/images/default_user.png" class="user-avatar" alt="User"> -->
  </div>

  <!-- <div fxLayout="column" fxLayoutGap="2px" *ngIf="header_mode">
    <span class="comment-text font-bold sparro-grey-800">{{ user.first_name ? user.first_name | titlecase : 'Jane' }} {{ user.last_name ? user.last_name | titlecase : 'Doe' }}
    </span>
    <span class="comment-subtext sparro-grey-800"> {{ user.bio }} </span>
  </div> -->
