<div fxLayout="column" fxLayoutAlign="start center" *ngIf="groups">
  <div class="group-grid">
    <ng-container *ngFor="let group of groups">
      <mat-card class="group-item">
        <a class="font-bold" [routerLink]="[ '../group', group.id ]">
          g/{{ group.name }}
        </a>
        <p>
          {{ group.description }}
        </p>
        <div class="" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
          <ng-container *ngIf="group.group_type == 'PUBLIC'; else otherGroupType">
            <mat-icon class="color-tertiary">people</mat-icon>
            <span class="subtext">
              {{ group.group_type }}
            </span>
          </ng-container>
          <ng-template #otherGroupType>
            <mat-icon class="color-tertiary">lock</mat-icon>
            <span class="subtext">
              {{ group.group_type }}
            </span>
          </ng-template>

          <span class="subtext">{{ group.members }} Member(s)</span>
        </div>

          <div fxLayout="row" class="margin-top-5" fxLayoutAlign="center center">
            <ng-container *ngIf="!group.member_status; else showMemberActions">
              <a mat-flat-button color="primary" fxFlex="50" [routerLink]="[ '../group', group.id ]">Join group</a>
            </ng-container>

            <ng-template #showMemberActions>
              <ng-container *ngIf="group.member_status && group.member_status.is_approved; else cancelRequest">
                <a mat-flat-button color="primary" fxFlex="50" [routerLink]="[ '../group', group.id ]">Leave group</a>
              </ng-container>
              <ng-template #cancelRequest>
                <a mat-flat-button color="primary" fxFlex="60" [routerLink]="[ '../group', group.id ]">Cancel pending request</a>
              </ng-template>
            </ng-template>
          </div>
      </mat-card>
    </ng-container>
  </div>
</div>
