<div fxLayout="column">
  <div class="row-container shadow-sm width-100" fxLayout="row" fxLayoutGap="16px">
    <div class="default-community-cover">
      <div class="community-avatar shadow-md">
        <!-- <mat-icon class="community-icon">people</mat-icon> -->
        <img class="community-icon" src="https://cdn-icons-png.flaticon.com/512/2170/2170765.png" alt="Community">
      </div>
    </div>
  </div>

  <div class="row-container width-100" fxLayout="row" fxLayoutGap="16px">
    <div class="child-container-1 group-card shadow-sm" fxLayout="column" fxFlex="70" fxFlex.lt-lg="100">
      <app-group-feed [group]="group"></app-group-feed>
    </div>

    <div class="child-container-2" fxLayout="column" fxFlex="30" fxHide.lt-lg>
      <div class="group-card shadow-sm about-section">
        <div fxLayout="column" class="width-100" *ngIf="group">
          <span class="heading-5 text-uppercase">
            About Community
          </span>
          <span class="heading-4 font-bold margin-top-2">g/{{group?.name }}</span>

          <span *ngIf="group.description" class="margin-y-3 color-tertiary desc-text" [innerHtml]="group.description | safeContent"></span>
          <span *ngIf="!group.description" class="margin-y-3 color-tertiary desc-text">g/{{ group?.name}} hasn't added any description yet.</span>

          <span class="desc-text">{{ group.group_type }} group</span>

          <div class="margin-y-4">
            <mat-divider></mat-divider>
          </div>

          <div class="desc-text" fxLayout="row" fxLayoutAlign="space-between center">
            <span class="font-bold" *ngIf="group.members_count">
              {{ group.members_count }} Member(s)
            </span>
            <span fxLayoutAlign="start center" fxLayoutGap="8px">
              <mat-icon>calendar_today</mat-icon>
              <span></span>
              Created {{ group.created_at | date }}
            </span>
          </div>

          <div class="margin-y-4">
            <mat-divider>
            </mat-divider>
          </div>

          <div class="" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">

            <ng-container *ngIf="!group.member_status; else showMemberActions">
              <button mat-flat-button color="primary" fxFlex="50" (click)="joinGroup()">Join group</button>
            </ng-container>

            <ng-template #showMemberActions>
              <ng-container *ngIf="group.member_status && group.member_status.is_approved; else cancelRequest">
                <button mat-flat-button color="primary" fxFlex="60" matTooltip="Leave group" (click)="leaveGroup()">Leave group</button>
              </ng-container>
              <ng-template #cancelRequest>
                <button mat-flat-button color="primary" fxFlex="60" matTooltip="Cancel request" (click)="cancel()">Cancel pending request</button>
              </ng-template>
            </ng-template>

            <button mat-stroked-button color="primary" fxFlex="40">Invite Users</button>
          </div>
        </div>
      </div>

      <div class="group-card shadow-sm rules-section" fxLayout="row" *ngIf="group && group.rules?.length">
        <div fxLayout="column">
          <span class="heading-5 text-uppercase">
            Community Rules
          </span>

          <div fxLayout="column" fxLayoutGap="4px">
            <ng-container *ngFor="let rule of group?.rules; let last=last;">
              <mat-expansion-panel style="box-shadow:none">
                <mat-expansion-panel-header style="padding: 2px 8px;">
                    <b class="padding-right-1">
                      {{ rule.title }}
                    </b>
                </mat-expansion-panel-header>
                <p [innerHtml]="rule.description | safeContent"></p>
              </mat-expansion-panel>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="group-card shadow-sm related-section" *ngIf="moderators.length">
        <div fxLayout="column" fxFlex="100">
          <span class="heading-5 text-uppercase">
            Moderators
          </span>

          <div fxLayout="column" fxLayoutGap="4px" fxFlex="100">
            <mat-nav-list>
              <ng-container *ngFor="let moderator of moderators.slice(0, 5)">
                <a mat-list-item [routerLink]="[ '../../../user', moderator.user.username ]">
                  <img src="https://cdn-icons-png.flaticon.com/512/552/552848.png" alt="" height="30" width="30" class="margin-right-2">
                  u/{{ moderator.user.username }}
                </a>
            </ng-container>
            </mat-nav-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
