<div class="auth-container">
  <div class="login-form">
    <h2 class="text-white" align="center">Sign in to Django Reddit </h2>

      <div class="buttons-section">
        <button mat-button class="custom-button" (click)="onSubmit()" style="border-color: rgb(255, 92, 136)">Google</button>
        <button mat-button class="custom-button" (click)="onSubmit()" style="border-color: rgb(255, 192, 93)">Facebook</button>
      </div>

      <div class="separator-section">
        <div class="divider-left"></div>
        <p align="center">OR</p>
        <div class="divider-right"></div>
      </div>

      <form class="width-100" [formGroup]="loginForm" class="auth-form" autocomplete="off">
        <div class="width-100 margin-bottom-4">
          <label for="email">Email</label>
          <input matInput placeholder="jane@email.com" formControlName="email" type="email" class="form-input" required>
        </div>

        <div class=""></div>

        <div class="width-100 margin-bottom-4" style="position: relative">
          <label for="password">Password</label>
          <input matInput placeholder="wonderfullemon dankworld" formControlName="password" [type]="hidePassword ? 'password' : 'text'" class="form-input" required>
          <button mat-icon-button matSuffix class="toggle-visibility-btn" (click)="toggleVisibility()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </div>

        <button mat-button color="primary" (click)="onSubmit()" class="margin-top-4 width-100 custom-button block-button submit-button" [disabled]="!loginForm.valid">
          Submit
        </button>


        <p>Haven't registered yet? <a class="underline button-link" [routerLink]="['../sign-up']">Sign Up</a></p>
      </form>
  </div>
</div>
