<ng-container *ngIf="isLoading; else showContent">
  <mat-card class="post-card" fxLayout="row-reverse" fxLayoutAlign="center center" fxLayoutGap="10px" style="height: 400px">
    <mat-spinner color="warn" [diameter]="30"></mat-spinner>
  </mat-card>
</ng-container>
<ng-template #showContent>
    <mat-card class="post-card">
      <h1>{{ post?.title }}</h1>

      <p class="post-content" [innerHtml]="post.content | safeContent"></p>

      <mat-icon class="separator-icon">more_horiz</mat-icon>

      <section class="comment-section">
        <p class="font-sm font-bold color-primary">
          Comments
        </p>

        <app-comment-group *ngIf="post"
          [uuid]="post.uuid"
          [user]="user"
          [commentable]="post.status === 'ARCHIVED' ? false: true"
          [max_nest_depth]="5">
        </app-comment-group>
      </section>
    </mat-card>
</ng-template>
