<div class="">
  <mat-toolbar color="secondary" class="header shadow-sm" *ngIf="!authRoute">
    <div style="display:flex; gap:10px; align-items: center">
      <img src="../assets/favicon/apple-touch-icon.png" alt="Icon" height="30" width="30">
      <a mat-flat-button [routerLink]="['']" class="font-bold color-primary navbar-brand" style="text-decoration:none">
        Django Reddit
      </a>
      <div></div>
      <div></div>
      <a mat-flat-button [routerLink]="['create']" class="color-tertiary">
        Create post
      </a>
      <a mat-flat-button (click)="createGroup()" class="color-tertiary">
        Create group
      </a>
    </div>


    <div class="search-bar">
      <form class="navbar-item-search" [formGroup]="searchField" (ngSubmit)="search()">
        <!-- <div class="search-bar"> -->
          <button mat-icon-button class="search-icon-wrapper">
            <mat-icon class="search-icon">search</mat-icon>
          </button>
          <input formControlName="search" placeholder="Search" name="search"
            oninput="this.value = this.value.toLowerCase()" class="search-input">
        <!-- </div> -->
      </form>
    </div>

    <ng-container *ngIf="user; else elseTemplate">
      <div class="buttons-section" *ngIf="user" style="display:flex; align-items:center; gap: 6px;">

        <a mat-icon-button [routerLink]="[ 'user', user.username]">
          <mat-icon>person</mat-icon>
        </a>
        <span style="vertical-align:middle; font-size:16px;">{{ user?.username }}</span>
        <button mat-icon-button class="logout-icon" (click)="logout()" aria-label="Logout">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="buttons-section">
        <a mat-button [routerLink]="[ 'sign-in']">Login</a>
      </div>
    </ng-template>

  </mat-toolbar>

  <main class="app" [ngClass]="{'bg-container': !authRoute, 'app-main': !authRoute}">
    <div class="container" [ngClass]="{'unauth-container': authRoute}">
      <router-outlet></router-outlet>
    </div>
  </main>
</div>


<footer class="footer" *ngIf="!authRoute">
  Terms of policy . Privacy policy .
  Copyright@2022 . <a href="https://github.com/madhvi-n/django-reddit">Madhvi N.</a>
</footer>
