<h3 style="margin-top:0">Submit a report</h3>

<mat-button-toggle-group name="reportType" aria-label="Report Type" class="report-section">
    <ng-container *ngFor="let type of types">
      <mat-button-toggle [value]="type" class="report-toggle-button" [disableRipple]="true" (change)="radioSelectEvent($event)" >{{ type.title }}</mat-button-toggle>
    </ng-container>
</mat-button-toggle-group>

<div>
  <p *ngIf="selectedType" class="report-subtext">{{ selectedType.info }}</p>
</div>

<div class="flex-buttons">
  <button mat-stroked-button color="warn" (click)="closeDialog()">Cancel</button>
  <button mat-flat-button color="warn" (click)="create()">Submit</button>
</div>
