.comment-item {
  margin: 8px 0;
  border: 1px solid #dedede;
  border-radius: 8px;
  display: inline-grid;
  background: white;
  padding: 16px;
  width: inherit;
  gap: 6px;
  color: #707070;

  .comment-subtext {
    font-size: 14px;
    color: #232323;
  }
}
