<div class="create-group">
  <form [formGroup]="groupForm" class="group-form">
    <p class="font-bold">Create a community</p>

    <mat-form-field appearance="outline" class="width-100">
      <mat-label>Title</mat-label>
      <input matInput #title maxlength="25" formControlName="title" placeholder="Title">
      <mat-hint align="end">{{ title.value.length}} / 25</mat-hint>
      <mat-hint align="start" *ngIf="title.value">Title will appear as g/{{ title.value }}</mat-hint>
      <br>
    </mat-form-field>

    <mat-form-field appearance="outline" class="width-100">
      <textarea matInput formControlName="description" placeholder="Tell everyone what this group is about" cdkTextareaAutosize cdkAutosizeMinRows="2" class="font-sm">
      </textarea>
    </mat-form-field>

    <label id="example-radio-group-label">Select your group type</label>
    <mat-radio-group *ngIf="types.length"
      aria-labelledby="example-radio-group-label"
      class="example-radio-group" color="warn" formControlName="type">

      <ng-container *ngFor="let type of types">
        <mat-radio-button class="example-radio-button" [value]="type.value">
          {{ type.title }}
        </mat-radio-button>
      </ng-container>
    </mat-radio-group>

    <ul>
      <li class="sub-text" *ngFor="let type of types">{{ type.title}}: {{ type.info }}</li>
    </ul>

    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="24px">
      <button mat-raised-button (click)="close()">Cancel</button>
      <button mat-raised-button [disabled]="!groupForm.valid" color="warn" (click)="submit()">Create</button>
    </div>


  </form>
</div>
