<div fxLayout="row" fxLayoutGap="16px">
  <div fxLayout="column" fxFlex="70" fxFlex.lt-lg="100">
    <div class="width-100">
      <ng-container *ngIf="isLoading; else showPosts">
        <app-post-loader></app-post-loader>
        <app-post-loader></app-post-loader>
        <app-post-loader></app-post-loader>
        <app-post-loader></app-post-loader>
        <app-post-loader></app-post-loader>
      </ng-container>

      <ng-template #showPosts>
        <ng-container *ngFor="let post of posts">
          <app-post [post]="post" [user_id]="user?.id"></app-post>
        </ng-container>
      </ng-template>


      <ng-container *ngIf="next">
        <ng-container *ngIf="showLoader; else buttonview">
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="height: 100px">
            <mat-spinner color="warn" [diameter]="30"></mat-spinner>
          </div>
        </ng-container>

        <ng-template #buttonview>
          <div *ngIf="!showSpinner && next" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="height: 100px">
            <button mat-raised-button (click)="loadMorePosts()">Load more posts</button>
          </div>
        </ng-template>
      </ng-container>
    </div>
  </div>

  <div fxLayout="column" fxFlex="30" fxHide.lt-lg>
    <div class="related-section">
      <span class="heading-5 text-uppercase">
        About Community
      </span>
    </div>

    <div class="related-section">
      <span class="heading-5 text-uppercase">
        About Community
      </span>
    </div>

    <div class="related-section">
      <span class="heading-5 text-uppercase">
        About Community
      </span>
    </div>
  </div>
</div>
