<div class="width-100">
  <ng-container *ngIf="isLoading; else showPosts">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="height: 400px">
      <mat-spinner color="warn" [diameter]="30"></mat-spinner>
    </div>
  </ng-container>

  <ng-template #showPosts>
    <ng-container *ngFor="let post of posts">
      <app-post [post]="post" [user_id]="user?.id"></app-post>
    </ng-container>
  </ng-template>


  <ng-container *ngIf="next">
    <ng-container *ngIf="showLoader; else buttonview">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="height: 100px">
        <mat-spinner color="warn" [diameter]="30"></mat-spinner>
      </div>
    </ng-container>

    <ng-template #buttonview>
      <div *ngIf="!showSpinner && next" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" style="height: 100px">
        <button mat-raised-button (click)="loadMorePosts()">Load more posts</button>
      </div>
    </ng-template>
  </ng-container>
</div>
